[submodule "exercise-2"]
	path = exercise-2
	url = git@github.com:jihoonog/CMPUT-503-Exercise-2.git
[submodule "exercise-3"]
	path = exercise-3
	url = git@github.com:liqianxi/503_ex3.git
[submodule "exercise-4"]
	path = exercise-4
	url = git@github.com:jihoonog/CMPUT-503-Exercise-4.git
[submodule "exercise-5"]
	path = exercise-5
	url = git@github.com:jihoonog/CMPUT-503-Exercise-5.git
[submodule "final-project"]
	path = final-project
	url = git@github.com:jihoonog/CMPUT-503-Final-Project.git
